# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- List commonly used libraries in Data Science.
- Provide a table of Data Science tools.
- Demonstrate arithmetic expressions in Python.

In [11]:
**Objectives:**

- List popular languages for Data Science.
- List commonly used libraries in Data Science.
- Provide a table of Data Science tools.
- Demonstrate arithmetic expressions in Python.

SyntaxError: invalid syntax (3746286327.py, line 1)

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

Some of the commonly used libraries used by Data Scientists include:

1.Pandas

2.Numpy 

3.Matplotlib 

4.Scikit-learn

| Data Science Tools     |
|------------------------|
| Jupyter Notebook        |
| RStudio                |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min_to_hours=(200/60)
min_to_hours

3.3333333333333335

## Author

Gopi Krishna